<div class="required_info"></div><br />

<%= form_with(model: reply, local: true) do |form| %>
<% if reply.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(reply.errors.count, "error") %>
      prohibited this reply from being saved:</h2>

    <ul>
      <% reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :protocol, 'Nº de Protocolo', class: 'required' %>
  <%= form.text_field :protocol, required: true %>
</div>

<div class="field">
  <%= form.label :description, 'Descrição', class: 'required' %>
  <%= form.text_area :description, required: true %>
</div>

<div class="field">
  <%= form.label :user_id, 'Usuário', class: 'required' %>
  <%= form.text_field :user_id, required: true %>
</div>

<div class="actions">
  <%= form.submit "Criar resposta" %>
</div>
<% end %>
