<p id="notice"><%= notice %></p>

<p>
  <strong>Apoio ou Controversia: </strong>
  <%= @reply.repliable_type == 'Call' ? 'Apoio' : 'Controvérsia'%>
</p>


<p>
  <strong>Protocolo:</strong>
  <%= @reply.repliable_id %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @reply.description %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @reply.user.name %>
</p>

<%= link_to 'Voltar', replies_path %>
