<%= form_with(model: controversy, local: true) do |form| %>
  <% if controversy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(controversy.errors.count, "error") %> prohibited this controversy from being saved:</h2>

      <ul>
      <% controversy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :protocol %>
    <%= form.text_field :protocol %>
  </div>

  <div class="field">
    <%= form.label :closed_at %>
    <%= form.datetime_select :closed_at %>
  </div>

  <div class="field">
    <%= form.label :sei %>
    <%= form.number_field :sei %>
  </div>

  <div class="field">
    <%= form.label :contract_id %>
    <%= form.number_field :contract_id %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.number_field :city_id %>
  </div>

  <div class="field">
    <%= form.label :cnes %>
    <%= form.number_field :cnes %>
  </div>

  <div class="field">
    <%= form.label :company_user_id %>
    <%= form.number_field :company_user_id %>
  </div>

  <div class="field">
    <%= form.label :unity_user_id %>
    <%= form.number_field :unity_user_id %>
  </div>

  <div class="field">
    <%= form.label :creator %>
    <%= form.number_field :creator %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.number_field :category %>
  </div>

  <div class="field">
    <%= form.label :complexity %>
    <%= form.number_field :complexity %>
  </div>

  <div class="field">
    <%= form.label :support_1_id %>
    <%= form.number_field :support_1_id %>
  </div>

  <div class="field">
    <%= form.label :support_2_id %>
    <%= form.number_field :support_2_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
