<%= content_for :body_title do%>
  <div class="left">
    <h4 class="display-5">Controvérsias</h4>
  </div>
  <div class="right create-new">
  <%= link_to 'Adicionar nova controvérsia', new_controversy_path, class: 'btn btn-primary btn-lg' %>
  </div>
<%end%>

<div class="right" style="display: inline-block !important">

  <form role="search">
    <div class="right input-group" style="margin: 15px auto !important">
      <input name="filterrific[search_query]" id="filterrific_search_query" class="form-control mr-sm-2" type="search" aria-label="Search">
      <label>
        <i class="fa fa-search"></i>
        &nbsp;Pesquisar controvérsia
      </label>
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
    </div>
    <br>
    <p style="width: 100%; text-align: right;">
      <%= (link_to 'Desfazer pesquisa',
                   reset_filterrific_url,
                   class: 'btn btn-danger',
                   style: 'margin-top: 0.375em; border: 1px solid red;') if params[:filterrific] %>
    </p>
  </form>
</div>

<hr class="under-header" style="margin-top: <%= params[:filterrific] ? '9em' : '6em'%>"/>

<% if @controversies.length > 0 %>
  <div id="accordion" class="accordion-controversies">
    <%= render @controversies %>
  </div>

  <%= will_paginate @controversies %>
<% else %>
  <h3>
    Ainda não foram criadas controvérsias com esses filtros
  </h3>
<% end %>
<hr/>


<script>
$('document').ready(function () {

  $('#filterrific_search_query').on('focusout', function () {
    changeState($(this));
  });

  function changeState(form) {
    if (form.val().length > 0) {
      form.addClass('has-value');
    } else {
      form.removeClass('has-value');
    }
  }
});
</script>
