<p id="notice"><%= notice %></p>

<p>
  <strong>Protocol:</strong>
  <%= @controversy.protocol %>
</p>

<p>
  <strong>Title:</strong>
  <%= @controversy.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @controversy.description %>
</p>

<p>
  <strong>Closed at:</strong>
  <%= @controversy.closed_at %>
</p>

<p>
  <strong>Company:</strong>
  <%= @controversy.sei %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @controversy.contract_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @controversy.city_id %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @controversy.cnes %>
</p>

<p>
  <strong>Company user:</strong>
  <%= @controversy.company_user_id %>
</p>

<p>
  <strong>Unity user:</strong>
  <%= @controversy.unity_user_id %>
</p>

<p>
  <strong>City user:</strong>
  <%= @controversy.city_user_id %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @controversy.creator %>
</p>

<p>
  <strong>Category:</strong>
  <%= @controversy.category %>
</p>

<p>
  <strong>Complexity:</strong>
  <%= @controversy.complexity %>
</p>

<p>
  <strong>Support 1:</strong>
  <%= @controversy.support_1_id %>
</p>

<p>
  <strong>Support 2:</strong>
  <%= @controversy.support_2_id %>
</p>

<div class="card card-primary" id="reply_box">
<div class="card-header pl-2">
<div class="header-block">
<p class="title" style="color: white;">
  <i class="fa fa-mail-forward mr-2"></i>Resposta ao atendimento</p>
</div>
</div>
<div class="card-body">
<%= render 'reply', reply: @reply %>
</div>
</div>

<div class="card-block">
<% @controversy.replies.each do |reply| %>

<% if reply.category == 'support' %>
  <div class="card card-default mb-3" style="border-left: 5px solid #85CE36; box-shadow: .0725rem .125rem .25rem rgba(0,0,0,.125)!important">
    <div class="card-header">
      <em class="fa fa-comment-o m-2"></em>
      <span class="badge badge-pill badge-dark m-1" style="display: none"><%= '#' << reply.id.to_s %></span>
      <span class="badge badge-pill badge-dark m-1">
        <%= reply.created_at.strftime("%d %b %y - %H:%M:%S") %>
      </span>
      <span class="badge badge-pill badge-dark m-1">suporte</span>
      -
      <strong class="m-2">
        <%= User.find(reply.user_id).name %>
      </strong>
      Adicionou uma resposta.
    </div>
    <div class="card-block">
      <span>
        <%= reply.description.html_safe %>
      </span>

      <% if reply.attachments.length > 0 %>
        <hr/>
        <strong class='m-2'>
          Attachments
        </strong>
        <br/>
        <div>
          <% reply.attachments.each do |_attachment| %>
            <%= link_to download_attachments_path("#{_attachment.id}"), html_options = {class: 'btn btn-oval btn-secondary', title: "#{_attachment.filename}"} do %>
              <i class="fa fa-file-text mr-1"></i>
              <%= truncate _attachment.filename, length: 10, omission: '...' %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <hr/>
      <% if current_user.try(:admin?) || current_user.try(:call_center_user?) || current_user.try(:call_center_admin?) %>
        <% if @my_call %>
          <a style="color: white" onclick="toggleFinalAnswer(this)" class="btn btn-primary btn-sm">Marcar como resposta final</a>
        <% end %>
      <% end %>
      <div style="float: right">
        <% if reply.faq == true %>
          <span class="badge badge-pill badge-dark">
            Resposta no FAQ
          </span>
        <% end %>
        <span class="badge badge-pill badge-<%=t "activerecord.enums.call.status.style.#{reply.status}" %>">
          <%= t "activerecord.enums.call.status.#{reply.status}" if reply.status%>
        </span>
      </div>
    </div>
  </div>
<%end%>

  <% else %>
    <div class="card card-default mb-3" style="box-shadow: .0725rem .125rem .25rem rgba(0,0,0,.125)!important">
      <div class="card-header">
        <em class="fa fa-comment-o m-2"></em>
        <span class="badge badge-pill badge-dark m-1" style="display: none"><%= '#' << reply.id.to_s %></span>
        <span class="badge badge-pill badge-dark m-2">
          <%= reply.created_at.strftime("%d %b %y - %H:%M:%S") %>
        </span>
        -
        <strong class="m-2">
          <%= User.find(reply.user_id).name %>
        </strong>
        Adicionou uma resposta.

      </div>
      <div class="card-body" style="padding: 5px 30px 15px">
        <p class="card-text">
          <span>
            <%= reply.description.html_safe %>
          </span>

          <% if reply.attachments.length > 0 %>
            <hr/>
            <strong class='m-2'>
              Attachments
            </strong>
            <br/>
            <div>
              <% reply.attachments.each do |_attachment| %>
                <%= link_to download_attachments_path("#{_attachment.id}"), html_options = {class: 'btn btn-oval btn-secondary', title: "#{_attachment.filename}"} do %>
                <i class="fa fa-file-text mr-1"></i>
                <%= truncate(_attachment.filename, length: 10, omission: '...')%>
              <%end%>
            <% end %>
          </div>
        <% end %>
      </p>
    </div>
  </div>
<%end%>



<% if @my_call %>
<button type="button" id="reply-2" class="btn btn-primary">Nova Resposta</button>
<% if current_user.try(:admin?) || current_user.try(:call_center_user?) || current_user.try(:call_center_admin?) %>
<button type="button" id="faq-reply-2" class="btn btn-primary">Resposta do FAQ</button>
<% end %>
<% end %>

</div>

<%= link_to 'Edit', edit_controversy_path(@controversy) %> |
<%= link_to 'Back', controversies_path %>
