<%= form_with(model: contract, local: true) do |form| %>
<% if contract.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(contract.errors.count, "error") %>
      prohibited this contract from being saved:</h2>

    <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="col-4">
  <div class="form-group">
    <%= form.label :files %>
    <%= form.file_field :files, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :contract_number %>
    <%= form.text_field :contract_number , class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :city_id %>
    <%= form.text_field :city_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sei %>
    <%= form.text_field :sei, class: 'form-control' %>
  </div>
  <%= form.submit 'Save', :class => 'btn btn-success btn-sm' %>
  <%= link_to 'Cancel', contracts_path, :class => 'btn btn-danger btn-sm' %>
</div>
<% end %>
