<%= form_with(model: contract, local: true) do |form| %>
<% if contract.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(contract.errors.count, "error") %>
      prohibited this contract from being saved:</h2>

    <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :file %>
  <%= form.file_field :file, class: 'form-control-file'%>
</div>

<div class="form-group">
  <%= form.label :contract_number %>
  <%= form.text_field :contract_number , class: 'form-control'%>
</div>

<% if @city %>
  <div class="form-group" style="display: none">
    <%= form.label :city_id %>
    <%= form.text_field :city_id , name: 'contract[city_id]', id:'contract_city_id', class: 'form-control', value: @city.id %>
  </div>
<% else %>
  <div class="form-group">
    <%= form.label :state_id %>
    <select skip_default_ids="false" allow_method_names_outside_object="true" name="contract[state_id]" id="contract_state_id" class="form-control">
      <option value="0">
        Selecione um Estado
      </option>
      <% State.all.each do |_state| %>
            <option value="<%= _state.id %>">
            <%= _state.name %>
          </option>
        <% end %>
      </select>
    </div>

  <div class="form-group">
    <%= form.label :city_id %>
    <select skip_default_ids="false" allow_method_names_outside_object="true" name="contract[city_id]" id="contract_city_id" class="form-control">
    <option value="0"> Selecione um Estado primeiro </option>
    </select>
  </div>
<% end %>



  <% if @company %>
  <div class="form-group" style="display:none">
    <%= form.label :sei, 'Company SEI' %>  
    <%= form.text_field :sei, class: 'form-control', value: @company.sei%>
  </div>
  <% else %>
  <div class="form-group">
    <%= form.label :sei, 'Company SEI' %>
    <select skip_default_ids="false" allow_method_names_outside_object="true" name="contract[sei]" id="contract_sei" class="form-control">
      <option value="0">
        Selecione uma empresa
      </option>
      <% Company.all.each do |_company| %>
            <option value="<%= _company.id %>">
            <%= _company.sei %>
          </option>
        <% end %>
      </select>
    </div>
  <% end %>


<%= form.submit 'Save', :class => 'btn btn-success btn-sm' %>
<%= link_to 'Cancel', contracts_path, :class => 'btn btn-danger btn-sm' %>
<% end %>

<%= javascript_tag do %>
  
  let stateSelect = document.getElementById('contract_state_id');
  let citySelect = document.getElementById('contract_city_id');
  
  stateSelect.addEventListener('change', () =>
    jQuery.ajax({
      url: '/cities/states/' + stateSelect.value,
      type: "GET",
      dataType: "json",
      success: insertData
    }));  
  
  function insertData(cities) {    
    let innerHTML = '';
    for (city of cities) {
      innerHTML += '<option value=' + city.id + '>' + city.name + '</option>'
    }
    citySelect.innerHTML = innerHTML || '<option value="0"> Selecione um Estado primeiro </option>';
  }
  
  
<% end %>