<%= content_for :body_title do%>
<div class="left">
  <h4 class="display-5">Contratos</h4>
</div>
<div class="right create-new">
  <%= link_to 'Criar novo contrato', new_contract_path, class: 'btn btn-primary btn-lg' %>
</div>
<%end%>

<%= form_for_filterrific @filterrific do |f| %>
  <div class="row">
    <div class="offset-md-8 col-md-4">
      <div class="row mt-3">
        <div class="col-md-8">
          <input name="filterrific[search_query]" id="filterrific_search_query" class="form-control mr-sm-2" type="search" aria-label="Search">
          <label>
            <i class="fa fa-search"></i>
            &nbsp;Nº do Contrato
          </label>
        </div>
          <div class="col-md-4">
           <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
          </div>
        </div>
        <div class="row mt-2">
          <%= link_to 'Desfazer filtros',
                       reset_filterrific_url,
                       class: 'btn btn-danger col-md-8' if params[:filterrific] %>
      </div>
    </div>
  </div>
<% end %>
<hr/>

<div id="filterrific_results">

  <% if @contracts.length > 0 %>
  <%= render './pagination', value: @contracts, position: :top %>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Nº do Contrato</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>SEI</th>
        <th colspan="3">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @contracts.each do |contract| %>
        <tr>
          <td><%= contract.contract_number %></td>
          <td><%= contract.city.name %></td>
          <td><%= contract.city.state.name %></td>
          <td><%= contract.sei %></td>
          <td>
            <% if contract.filename %>
              <%= link_to "Clique para fazer download", download_contracts_path(id: contract.id), class: 'btn btn-primary btn-sm' %>
            <% else %>
              <button class="btn btn-primary btn-sm" disabled="disabled">Não há arquivos anexados</button>
            <% end %>
            <%= link_to(contract, method: :delete, data: { confirm: 'Tens certeza?', verify: contract.contract_number, verify_text: 'Caso tenha, por favor digite o número do contrato para continuar' }, class: 'btn btn-danger btn-sm') do %>
            <i class="fa fa-trash-o"></i>
          <%end%>
        <% end %>
      </tbody>
    </table>
    <%= render './pagination', value: @contracts, position: :bottom %>
    <% else %>
      <h3>
        Não existe nenhum contrato com o número inserido no campo de pesquisa
      </h3>
    <% end %>
</div>
<hr/>

<script>
  $('document').ready(function () {

    $('#filterrific_search_query').on('focusout', function () {
      changeState($(this));
    });

    function changeState(form) {
      if (form.val().length > 0) {
        form.addClass('has-value');
      } else {
        form.removeClass('has-value');
      }
    }
  });
</script>
