<p id="notice"><%= notice %></p>

<p>
  <strong>Contract number:</strong>
  <%= @contract.contract_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @contract.city.name %>
</p>

<p>
  <strong>Sei:</strong>
  <%= @contract.sei %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @contract.filename %>
  <br/><br/>
  <strong><%= link_to "Link para download", download_contract_path, class: 'btn btn-primary btn-sm' %></strong>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %>
|
<%= link_to 'Back', contracts_path %>