<p id="notice"><%= notice %></p>

<p>
  <strong>Número do contrato:</strong>
  <%= @contract.contract_number %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @contract.city.name %>
</p>

<p>
  <strong>SEI:</strong>
  <%= @contract.sei %>
</p>

<p>
  <strong>Anexo:</strong>
  <% if @contract.filename %>
    <%= @contract.filename %>
    <br/><br/>
    <strong><%= link_to "Link para download", download_contract_path, class: 'btn btn-primary btn-sm' %></strong>
  <% else %>
    No file attached
  <% end %>
</p>

<%= link_to 'Editar', edit_contract_path(@contract), class: 'btn btn-primary btn-sm' %>
<%= link_to 'Voltar', contracts_path, class: 'btn btn-primary btn-sm' %>
<br/><br/>
