<%= form_with(model: unity, local: true) do |form| %>
  <% if unity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unity.errors.count, "error") %> prohibited this unity from being saved:</h2>

      <ul>
      <% unity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-4">
    <div class="form-group">
      <%= form.label :cnes %>
      <%= form.number_field :cnes, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :city_id %>
      <%= form.text_field :city_id, class: 'form-control' %>
    </div>

    <%= form.submit 'Save', :class => 'btn btn-success btn-sm' %>
    <%= link_to 'Cancel', unities_path, :class => 'btn btn-danger btn-sm' %>

  </div>
<% end %>
