<p id="notice"><%= notice %></p>

<h1>Unities</h1>

<table>
  <thead>
    <tr>
      <th>Cnes</th>
      <th>Name</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unities.each do |unity| %>
      <tr>
        <td><%= unity.cnes %></td>
        <td><%= unity.name %></td>
        <td><%= unity.city.name %></td>
        <td><%= link_to 'Show', unity %></td>
        <td><%= link_to 'Edit', edit_unity_path(unity) %></td>
        <td><%= link_to 'Destroy', unity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unity', new_unity_path %>
