<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unity.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @unity.city.name %>
</p>

<p>
  <strong>CNES:</strong>
  <%= @unity.cnes %>
</p>

<%= link_to 'Edit', edit_unity_path(@unity) %>
|
<%= link_to 'Back', unities_path %>