<h1>PIUBS</h1>

<% if @current_user.email == @call_user.email %>
  <p>
    Olá,
    <b><%= @call_user.name %></b>, você adicionou uma nova resposta ao seu atendimento.
  </p>

<% else %>
  <p>
    Olá,
    <b><%= @call_user.name %></b>, seu atendimento tem uma nova resposta.
  </p>

<% end %>

<p>
  Protocolo de atendimento:
  <%= @call.protocol %>
</p>

<p>
  Título do Atendimento:
  <%= @call.title %>
</p>

<p>
  Nova resposta:
  <br>
  <%= @reply.description.html_safe %>
</p>

<p>
  <%= @reply.created_at.strftime("%d %b %y - %H:%M:%S") %>
</p>

<p>
  <a href="<%= @link %>">Clique aqui para acessar o PIUBS e ver o atendimento completo</a>
</p>
