<h1>PIUBS</h1>

<p>
  Olá, <%= @call_user.name %>, seu atendimento tem uma nova resposta.
</p>

<p>
  Protocolo de atendimento: <%= @call.protocol %>
</p>

<p>
  Nova resposta: <br> <%= @reply.description.html_safe %>
</p>

<p>
  <%= @reply.created_at %>
</p>

<p>
  <a href="http://<%= root_path @call.protocol %>">Clique aqui para acessar o PIUBS e ver o atendimento completo</a>
</p>
