<div class="card<%= call.support_user == current_user.id ? ' card-mine' : '' %>">
  <div class="card-header" id="heading<%= call.protocol %>">
    <div class="question">
      <h5><%= call.title %></h5>
    </div>
    <div class="protocol">
      <span>Protocolo:
        <b><%= call.protocol %></b></span>
    </div>

    <div class="company">
      Empresa
      <%= call.sei %>
    </div>
    <div class="city">
      <b><%= call.unity.name%><hr/><%= call.city.name %></b>
      <%= call.city.state.name %>
    </div>
    <div class="info">
      <span class="badge badge-pill badge-<%= call.open? ? 'success' : call.closed? ? 'dark' : 'warning'%>"><%= (t "activerecord.enums.call.status.#{call.status}").upcase %></span>
    </div>
    <div class="dropdown">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#<%= call.protocol %>" aria-expanded="true" aria-controls="<%= call.protocol %>">
        <i class="fa fa-angle-down"></i>
      </button>
    </div>
  </div>

  <div id="<%= call.protocol %>" class="collapse" aria-labelledby="header<%= call.protocol %>" data-parent="#accordion">
    <div class="card-body">
      <hr/>
      <%= call.description.html_safe %>

      <div class="left">
        <% call.attachments.each do |_attachment| %>
          <%= link_to download_attachments_path("#{_attachment.id}"), html_options = {class: 'btn btn-oval btn-secondary', title: "#{_attachment.filename}"} do %>
            <i class="fa fa-file-text mr-1"></i>
            <%= truncate(_attachment.filename, length: 30, omission: '...')%>
          <% end %>
        <% end %>
      </div>
      <%= link_to 'Ir para atendimento', call , class: 'btn btn-primary right'%>
    </div>
  </div>
</div>
