<hr/>
<%= form_with(model: answer, local: true) do |form| %>
<% if answer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(answer.errors.count, "error") %>
      prohibited this answer from being saved:</h2>

    <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% @question = Call.find(params[:id]) %>
  <div class="form" style="max-width: 650px">
    <div class="field">
      <%= form.label :question, 'Questão', class: 'required' %>
      <%= form.text_field :question, value: @question.title, class: 'form-control boxed', required: true %>
    </div>

    <div class="field">
      <%= form.label :answer, 'Resposta', class: 'required' %>
      <%= form.text_area :answer, class: 'form-control boxed', rows: '8', required: true %>
    </div>

    <div class="form-group input-group">
      <%= form.label :file, class: "btn btn-secondary btn-file input-group-btn" %>
      <%= form.file_field :file, class: 'form-control-file', multiple: true, onchange: 'validateFiles(this)', data: {max_file_size: 2.megabytes}, style:"display: none"%>
      <%= form.text_field :file_text, class:"form-control", readonly: true %>
    </div>

    <div class="field" style="display: none">
      <%= form.label :category_id, 'Categoria' %>
      <%= form.text_field :category_id, value: @question.category.id, required: true %>
    </div>
    <%= hidden_field_tag :question_id, @question.id, required: true %>

    <div class="field" style="display: none">
      <%= form.label :user_id, 'Usuário', class: 'required' %>
      <%= form.text_field :user_id, value: current_user.id, required: true %>
    </div>

    <div class="form-check form-check-inline">
      <%= form.check_box :faq, class: "form-check-input" %>
      <%= form.label :faq, value: 'Add to FAQ?', class: 'form-check-label' %>
    </div>
    <%= hidden_field_tag :reply_attachments, '' %>
    <br/><br/>

    <div class="actions">
      <%= form.submit 'Done', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
