<%= content_for :body_title do%>
  <div class="left">
    <h4 class="display-5">Atendimentos</h4>
  </div>
  <div class="right create-new">
    <%= link_to 'Solicitar novo atendimento', new_call_path(sei: current_user.sei), class: 'btn btn-primary btn-lg' %>
  </div>
<%end%>

<%= form_for_filterrific @filterrific do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="form-group col-md-<%= support_like? ? 4 : 6 %>">
          <%= f.label :filterrific_with_status, 'Filtro por Status'%>
          <%= f.select(:with_status, @filterrific.select_options[:with_status],
                       {multiple: true},
                       class: 'form-control filterrific') %>
        </div>
        <div class="form-group col-md-<%= support_like? ? 4 : 6 %>">
          <%= f.label :filterrific_sorted_by_creation, 'Filtro por data de criação'%>
          <%= f.select(:sorted_by_creation, @filterrific.select_options[:sorted_by_creation],
                       {multiple: true},
                       class: 'form-control filterrific') %>
        </div>
        <% if support_like? %>
          <div class="form-group col-md-4">
            <%= f.label :filterrific_with_company, 'Filtro por Empresas'%>
            <%= f.select(:with_company, @filterrific.select_options[:with_company],
                         {multiple: true, include_blank: "Todas Empresas"},
                         class: 'form-control filterrific') %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <%= f.label :filterrific_with_state, 'Filtro por Estados'%>
          <%= f.select(:with_state, @filterrific.select_options[:with_state],
                       {multiple: true, include_blank: "Todos Estados"},
                       class: 'form-control filterrific') %>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :filterrific_with_city, 'Filtro por Cidades'%>
          <%= f.select(:with_city, @filterrific.select_options[:with_city],
                       {multiple: true, include_blank: "Todas Cidades"},
                       class: 'form-control filterrific') %>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :filterrific_with_ubs, 'Filtro por UBS'%>
          <%= f.select(:with_ubs, @filterrific.select_options[:with_ubs],
                       {multiple: true, include_blank: "Todas UBS"},
                       class: 'form-control filterrific') %>
        </div>
      </div>
      <div class="row">
        <%= link_to 'Desfazer filtros',
                    reset_filterrific_url,
                    class: 'btn btn-danger offset-md-8 col-md-4' if params[:filterrific] %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mt-3">
        <div class="col-md-8">
          <input name="filterrific[search_query]" id="filterrific_search_query"
                 class="form-control" type="search" aria-label="Search">
          <label>
            <i class="fa fa-search"></i>
            &nbsp;Atendimento
          </label>
        </div>
        <div class="col-md-4">
           <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
         </div>
       </div>
       <div class="row">
         <%= f.submit "Mostrar",
                      id: 'mostrar-filter',
                      class: 'btn btn-link invisible right' %>
       </div>
    </div>
  </div>
<% end %>
<hr/>


<% if @calls.length > 0 %>
  <div id="accordion" class="accordion-calls">
    <%= render './pagination', value: @calls, position: :top %>
    <%= render @calls %>
    <%= render './pagination', value: @calls, position: :bottom %>
  </div>
<% else %>
  <h3>
    Ainda não foram realizados atendimentos
  </h3>
<% end %>
<hr/>

<script>

  $('document').ready(function () {

    const parseQuery = () => {
      const queryString = decodeURIComponent((window.location.href+'').replace(/\+/g, '%20'));
      const query = {};
      const pairs = (queryString[0] === '?' ? queryString.substr(1) : queryString).split('&');
      for (let piece of pairs) {
          const pair = piece.split('=');
          query[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1] || '');
      }

      return query;
    }

    const stateSelect = document.getElementById('filterrific_with_state');
    const citySelect = document.getElementById('filterrific_with_city');
    const unitySelect = document.getElementById('filterrific_with_ubs');
    const sei = <%= current_user.sei || 0 %>;
    const triggeredByState = () => jQuery.ajax({url: `/companies/${sei}/states/${stateSelect.value}/cities`,
                                                type: "GET",
                                                dataType: "json",
                                                success: insertCitiesData,
                                                error: console.error})
    const triggeredByCity = () => jQuery.ajax({url: `/cities/${citySelect.value}/unities`,
                                               type: "GET",
                                               dataType: "json",
                                               success: insertUnitiesData,
                                               error: console.error})

    triggeredByState();

    function insertCitiesData(cities) {
      let queried_city = parseQuery()['filterrific[with_city]']
      let innerHTML = '<option value>Todas Cidades</option>';
      for (let city of cities) {
        innerHTML += `<option ${queried_city == city.id ? 'selected="selected"' : ''} value=${city.id}>
                        ${city.name}
                      </option>`
      }
      citySelect.innerHTML = innerHTML;

      triggeredByCity();
    }

    function insertUnitiesData(unities) {
      let queried_unity = parseQuery()['filterrific[with_ubs]']
      let innerHTML = '<option value>Todas UBS</option>';
      for (let unity of unities) {
        innerHTML += `<option ${queried_unity == unity.cnes ? 'selected="selected"' : ''} value=${unity.cnes}>
                        ${unity.name}
                      </option>`
      }
      unitySelect.innerHTML = innerHTML;

      triggeredByCity();
    }


    $('#filterrific_search_query').on('focusout', function () {
      changeState($(this));
    });

    function changeState(form) {
      if (form.val().length > 0) {
        form.addClass('has-value');
      } else {
        form.removeClass('has-value');
      }
    }

    $('.filterrific').on('change', () => {
      $('#mostrar-filter').click();
    })

  });
</script>
