<%= tinymce_assets %>
<%= tinymce %>

<%= content_for :body_title do%>
<h5> Atendimento | Nº do protocolo:
      <span class="badge badge-dark"><%= @call.protocol %></span>
    </h5>
<%end%>
<div class="card card-primary">
<!-- Default panel contents -->
<div class="card-header " style="color: white; font-weight: bold;">
  <em class="fa fa-bullhorn m-2"></em>
  Requirer :
  <span class="badge badge-pill badge-dark m-2">
    <a><%= User.find(@call.user_id).email %></a>
  </span>
  Creation Date :
  <span class="badge badge-pill badge-dark m-2">
    <%= @call.created_at %>
  </span>

  Sei :
  <span class="badge badge-pill badge-dark m-2">
    <%= link_to "Empresa #{@call.sei}", company_path(@call.sei)%>
  </span>
</div>

<div class="card-block">
  <h4><%= @call.title %></h4>
  <hr/>
  <p>
    <strong><%= t :call %>:</strong>
    <%= @call.description %>
  </p>
  <p>
    <strong><%= t :acess_profile_label %>:
    </strong><%= @call.access_profile %>
  </p>
  <p>
    <strong><%= t :version %>:
    </strong><%= @call.version %>
  </p>
  <% if @call.feature_detail != '' %>
    <p>
      <strong><%= t :functional_detail %>:
      </strong><%= @call.feature_detail %>
    </p>
  <% end %>

  <hr/>
  <%= t :city %>:
  <span class="badge badge-pill badge-light m-2"><%= @call.city.name %></span>
  <%= t :uf %>
  <span class="badge badge-pill badge-light m-2"><%= @call.state.name %></span>
  <%= t :status %>
  <span class="badge badge-pill badge-light m-2"><%= @call.status %></span>
  <%= t :severity %>
  <span class="badge badge-pill badge-light m-2"><%= @call.severity %></span>
  <%= t :category %>
  <span class="badge badge-pill badge-light m-2"><%= @call.category.name %></span>
  <hr/>

  <%= link_to 'Edit', edit_call_path(@call), class: 'btn btn-secondary btn-sm' %>
  <div class="btn-group">
    <button type="button" id="reply" class="btn btn-secondary btn-sm">Reply</button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a id="new-reply" class="dropdown-item">New Reply</a>
      <a id="faq-reply" class="dropdown-item">Reply from FAQ</a>
    </div>
  </div>
</div>
</div>

<div class="card card-primary" style="display: none" id="reply_box">
<div class="card-header pl-2">
  <div class="header-block" >
      <p class="title" style="color: white;"><i class="fa fa-mail-forward mr-2"></i>Reply Call</p>
  </div>
</div>
<div class="card-body">
  <%= render 'reply', reply: @reply %>
</div>
</div>

<div class="card card-primary" style="display: none" id="faq_box">
<div class="card-header pl-2" >
  <div class="header-block" >
      <p class="title" style="color: white;"><i class="fa fa-mail-forward mr-2"></i>FAQ List:</p>
  </div>

</div>
<div class="card-body">
  <%= render 'answer', categories: @categories %>
</div>
</div>



        <% @call.replies.each do |reply| %>

          <% if reply.category == 'reply' %>
            <div class="card card-default mb-3 ">
              <div class="card-header">
                <em class="fa fa-comment-o m-2"></em>
                <span class="badge badge-pill badge-dark m-2">
                  <%= reply.created_at.strftime("%d %b %y - %H:%M:%S") %>
                </span>
                -
                <strong class="m-2">
                  <%= User.find(reply.user_id).name %>
                </strong>
                added a reply.

              </div>
              <div class="card-body">
                <p class="card-text">
                  <%= reply.description.html_safe %>
                  <hr/>
                  <%= link_to 'Show', reply %>
                  <%= link_to 'Edit', edit_reply_path(reply) %>
                  <%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %>
                </p>
              </div>
            </div>
          <%end%>

          <% if reply.category == 'support' %>
            <div class="card card-default mb-3" style="border-left: 5px solid #85CE36">
              <div class="card-header">
                <em class="fa fa-comment-o m-2"></em>
                <span class="badge badge-pill badge-dark m-1">
                  <%= reply.created_at.strftime("%d %b %y - %H:%M:%S") %>
                </span>
                <span class="badge badge-pill badge-dark m-1">support</span>
                -
                <strong class="m-2">
                  <%= User.find(reply.user_id).name %>
                </strong>
                added a support.
                <div style="float: right">
                  <% if reply.faq == true %>
                    <span class="badge badge-pill badge-dark">
                      ON FAQ
                    </span>
                  <% end %>
                  <span class="badge badge-pill badge-dark">
                    <%= reply.status %>
                  </span>
                </div>
              </div>
              <div class="card-block">

                  <%= reply.description.html_safe %>
                  <hr/>
                  <%= link_to 'Show', reply %>
                  |
                  <%= link_to 'Edit', edit_reply_path(reply) %>
                  |
                  <%= link_to 'Mark as Final Answer', {controller: 'answers', action: 'new', question: @call, reply: reply} %>
                  |
                  <%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %>

              </div>
            </div>
          <%end%>
        <% end %>


  <% if @call.answer_id %>
    <div class="card card-primary">
      <div class="card-header" id="headingTwo">
        <div class="header-block" >
            <p class="title" style="color: white"><i class="fa fa-envelope mr-2"></i> Final Answer</p>
        </div>
      </div>
        <div class="card-block">
          <% answer = Answer.find(@call.answer_id) %>
           <span class="badge badge-pill badge-dark m-1"> <%= answer.created_at %></span>
           <span class="badge badge-pill badge-dark m-1">support</span><hr/>
            <%= answer.answer.html_safe %>
          </div>
      </div>
    <% end %>


  <script>
    $("#reply").click(function () {
      $("#reply_box").toggle(200);
      $("#faq_box").hide(200);
    });

    $("#new-reply").click(function () {
      $("#reply_box").toggle(200);
      $("#faq_box").hide(200);
    });

    $("#faq-reply").click(function () {
      $("#reply_box").hide(200);
      $("#faq_box").toggle(200);
    });

    $("#cancel").click(function () {
      $("#reply_box").toggle(200);
    });
  </script>

  <style>
    #reply_description_ifr {
      height: 250px !important;
    }

    #mceu_30 {
      display: none;
    }
  </style>
