<%= tinymce_assets %>
<%= tinymce %>

<%= content_for :body_title do%>
Atendimento
<%end%>
<ul class="nav nav-pills" role="tablist">
<li role="presentation" class="active">
  <h5>Nº do protocolo
    <span class="badge badge-pill badge-primary"><%= @call.protocol %></span>
  </h5>
</li>
</ul>
<br/>
<div class="card border-secondary">
<!-- Default panel contents -->
<div class="card-header bg-secondary text-white">
  <%= t :requirer %>
  :
  <span class="badge badge-pill badge-light">
    <%= User.find(@call.user_id).email %></a>
</span>
|
<%= t :creation_date %>
:
<span class="badge badge-pill badge-light">
  <%= @call.created_at %>
</span>

| Sei :
<span class="badge badge-pill badge-light">
  <%= link_to "Empresa #{@call.sei}", company_path(@call.sei)%>
</span>
</div>

<div class="card-body">
<h4><%= @call.title %></h4>
<hr/>
<p>
  <strong><%= t :call %>:</strong>
  <%= @call.description %></p>
<p>
  <strong><%= t :acess_profile_label %>:
  </strong><%= @call.access_profile %>
  <p>
    <strong><%= t :version %>:
    </strong><%= @call.version %>
    <% if @call.feature_detail != '' %>
      <p>
        <strong><%= t :functional_detail %>:
        </strong><%= @call.feature_detail %></p>
    <% end %>
    <hr/>

    <%= t :city %>:
    <span class="badge badge-pill badge-primary"><%= @call.city.name %></span>
    <%= t :uf %>
    <span class="badge badge-pill badge-primary"><%= @call.state.name %></span>
    <%= t :status %>
    <span class="badge badge-pill badge-primary"><%= @call.status %></span>
    <%= t :severity %>
    <span class="badge badge-pill badge-primary"><%= @call.severity %></span>
    <%= t :category %>
    <span class="badge badge-pill badge-primary"><%= @call.category.name %></span>
    <hr/>
    <%= link_to 'Edit', edit_call_path(@call), class: 'btn btn-secondary btn-sm' %>
    <button id="reply" type="button" class="btn btn-secondary btn-sm">Reply</button>
  </div>
</div>

<div class="card border-secondary mt-4" style="display: none" id="reply_box">
  <div class="card-header bg-secondary text-white">
    Reply call:
    <span class="badge badge-pill badge-light">
      <%= @call.protocol %>
    </span>
  </div>
  <div class="card-body">
    <%= render 'reply', reply: @reply %>
  </div>
</div>

<div class="card border-secondary mt-4">
  <div class="card-header bg-secondary text-white">
    <h5>
      <img src="/assets/svg/chat.svg" height="32" width="32">
      Histórico de Atendimento
    </h5>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr></tr>
      </thead>
      <tbody>
        <% @call.replies.each do |reply| %>
          <tr>
            <% if reply.category == 'reply' %>
              <div class="card bg-white mb-3 ">
                <div class="card-header">
                  <img src="/assets/svg/comment-square.svg" height="16" width="16">
                  <span class="badge badge-pill badge-dark">
                    <%= reply.created_at.strftime("%d %b %y - %H:%M:%S") %>
                  </span>
                  -
                  <strong>
                    <%= User.find(reply.user_id).name %>
                  </strong>
                  added a reply.
                </div>
              <%end%>

              <% if reply.category == 'support' %>
                <div class="card bg-white mb-3" style="border-left: 5px solid gray">
                  <div class="card-header">
                    <img src="/assets/svg/comment-square.svg" height="16" width="16">
                    <span class="badge badge-pill badge-dark">support</span>
                    <span class="badge badge-pill badge-dark">
                      <%= reply.created_at.strftime("%d %b %y - %H:%M:%S") %>
                    </span>
                    -
                    <strong>
                      <%= User.find(reply.user_id).name %>
                    </strong>
                    added a support.
                    <span class="badge badge-pill badge-dark" style="float: right">
                      <%= reply.status %>
                    </span>
                  </div>
                <%end%>

                <div class="card-body">
                  <p class="card-text">
                    <%= reply.description.html_safe %>
                    <hr/>
                    <%= link_to 'Show', reply %>
                    <%= link_to 'Edit', edit_reply_path(reply) %>
                    <%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </p>
                </div>
              </div>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    $("#reply").click(function () {
      $("#reply_box").toggle(200);
    });

    $("#cancel").click(function () {
      $("#reply_box").toggle(200);
    });
  </script>

  <style>
    #reply_description_ifr {
      height: 250px !important;
    }
    #mceu_30 {
      display: none;
    }
  </style>