<td class="user">
  <% if (user.invitation_accepted_at != nil) %>
    <span class='user-name'><%= link_to user.name + " #{user.last_name}", user %></span>
  <% elsif user.invitation_sent_at != nil %>
    <span class='user-name'></span>
  <% else %>
    <span class='user-name'>[User Bot]</span>
  <% end %>
</td>
<td class="user">
  <%= mail_to user.email, user.email %>
</td>
<% if current_user.try(:admin?) %>
  <td class="user">
    <%=
      if user.role == "admin"
        $mask_role = "Administrador"
      elsif user.role == "company_admin"
        $mask_role = "Empresa[Adm]"
      elsif user.role == "company_user"
        $mask_role = "Empresa[Usu]"
      elsif user.role == "city_admin"
        $mask_role = "Município"
      elsif user.role == "ubs_admin"
        $mask_role = "UBS[Adm]"
      elsif user.role == "ubs_user"
        $mask_role = "UBS[Usu]"
      elsif user.role == "call_center_admin"
        $mask_role = "Suporte[Adm]"
      elsif user.role == "call_center_user"
        $mask_role = "Suporte[Usu]"
      elsif user.role == "faq_inserter"
        $mask_role = 'Criador de FAQ'
      else
        $mask_role = "Não informado"
      end
      $mask_role
    %>
  </td>
<% else %>
  <td class="user">
    <% if (user.current_sign_in_at) %>
      <%= user.current_sign_in_at.strftime('%d %b %y - %H:%M:%S') %>
    <% end %>
  </td>
<% end %>
<td class="user user-status">
  <% if user.invitation_accepted_at != nil %>
    Cadastrado
  <% elsif user.invitation_sent_at != nil %>
    Convidado em <br /> <%= user.invitation_sent_at.strftime('%d %b %y - %H:%M:%S') %>
  <% else %>
    Cadastrado
  <% end %>
</td>
<td class='user user-role'>
  <% if user.invitation_accepted_at != nil || user.invitation_sent_at == nil %>
    <% $trash_label = "Apagar usuário" %>
  <% else %>
    <% $trash_label = "Cancelar convite" %>
  <% end %>
  <%= link_to user_path(user), data: { confirm: 'Tens certeza?', verify: user.email, verify_text: 'Caso tenha, por favor digite o endereço de e-mail desse usuário para continuar' }, :method => :delete, :class => 'btn btn-danger
  btn-sm' do %><i class="fa fa-trash-o"></i> <%end unless user == current_user || user.role == "admin" %>
</td>
