<td class="user">
  <span class='user-name'><%= link_to user.name, user%></span>
  <span><%= mail_to user.email, 'Send e-mail', class: 'btn btn-primary' %></span>  
</td>
  <td class='user user-role'>
    <%= form_for(user) do |f| %>
    <div class="form-group">
      <select name="user[role]" id="user_role" class="form-control">
        <% User.roles.keys.map {|role| [role.titleize,role]}.each do |_role| %>
          <% if user.role == _role[1] %>
            <option value="<%= _role[1] %>" selected="selected">
            <% else %>
              <option value="<%= _role[1] %>">
              <% end %>
              <%= _role[0] %>
            </option>
          <% end %>
        </select>
      </div>
      <%= f.submit 'Alterar Permissão', class: 'btn btn-primary' %>
    <% end %>
  </td>
  <td class='user user-role'>
    <%= link_to "Apagar usuário", user_path(user), :data => { :confirm => "Tem certeza?" }, :method => :delete, :class => 'btn btn-danger button-xs' unless user == current_user || user.role == "admin" %>
  </td>
