<h2>Convidar novo usuário</h2>

<%= form_for resource, :url => novo_usuario_nivel_selecionado_path, :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

<div class="form-group">
    <%= f.label "Escolha o tipo de usuário" %>
    <%= f.select(:role, $levels_allowed, {:include_blank => "Selecione"}, {:class => "form-control"})%>
</div>

<p><%= f.submit "Continuar" %></p>
<% end %>
