<p id="notice"><%= notice %></p>
<%= content_for :body_title do%>
<%= @state.name %>
<%end%>
<form class="form-inline">
<input class="form-control mr-sm-2" type="search" placeholder="City name" aria-label="Search">
<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
</form>
<hr/>
<div class="digg_pagination">
<div class="page_info">
  <%= page_entries_info @cities %>
</div>
<%= will_paginate @cities, :previous_label => '<<', :next_label => '>>' %>
</div>
<hr/>
<table class="table table-bordered table-striped table-hover">
<thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>State</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @cities.each do |city| %>
    <tr>
      <td><%= city.name %></td>
      <td><%= city.state.name %></td>
      <td><%= link_to 'Show', city , class: 'btn btn-success btn-sm' %>
        <!-- <%= link_to 'Edit', edit_city_path(city), class: 'btn btn-success btn-sm' %> <%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>-->
      </td>
    </tr>
  <% end %>
</tbody>
</table>
<hr/>
<div class="digg_pagination">
<div class="page_info">
  <%= page_entries_info @cities %>
</div>
<%= will_paginate @cities, :previous_label => '<<', :next_label => '>>' %>
</div>
<hr/><br/>
<!-- <%= link_to 'Edit', edit_state_path(@state) %> <%= link_to 'Back', states_path %> -->