<%= form_with(model: attachment, local: true) do |form| %>
<% if attachment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(attachment.errors.count, "error") %>
      prohibited this attachment from being saved:</h2>

    <ul>
      <% attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :file, 'Anexo(s)*' %>
  <%= form.file_field :file, class: 'form-control-file', required: true, multiple: true, onchange: 'validateFiles(this)', data: {max_file_size: 20.megabytes, max_file_quantity: 10}%>
</div>

<div class="form-group">
  <%= form.label :answer_id, 'Answer_id*' %>
  <%= form.text_field :answer_id, class: 'form-control', required: true %>
</div>

<%= form.submit 'Save', :class => 'btn btn-primary btn-sm' %>
<%= link_to 'Cancel', attachments_path, :class => 'btn btn-danger btn-sm' %>
<% end %>

<script>
function validateFiles(inputFile) {

  var size = 0;
  var maxFileSize = $(inputFile).data('max-file-size');
  var maxFileQuantity = $(inputFile).data('max-file-quantity');

  $.each(inputFile.files, function () {
    if (this.size) {
      size += this.size;
    }
  });

  if (size && maxFileSize && size > parseInt(maxFileSize)) {
    const animation = {
      "in": "bounceIn",
      "out": "fadeOutUpBig"
    };
    const heart = "/assets/icons/heart-7b7db7682d22d7e720bd648d44141160ecebc8dace0e3d9f2effd12a41c7f6a9.png";
    Notification.create("<%= 'Alerta' %>", '<%= "Esses anexos excedem o tamanho máximo permitido (20 MB)" %>', heart, animation, 2, 5);
    $(inputFile).val('');
  } else if (inputFile.files.length > maxFileQuantity) {
    const animation = {
      "in": "bounceIn",
      "out": "fadeOutUpBig"
    };
    const heart = "/assets/icons/heart-7b7db7682d22d7e720bd648d44141160ecebc8dace0e3d9f2effd12a41c7f6a9.png";
    Notification.create("<%= 'Alerta' %>", '<%= "Esses anexos excedem a quantidade máxima permitida (10 arquivos)" %>', heart, animation, 2, 5);
    $(inputFile).val('');
  };
}
</script>
