<%= content_for :body_title do%>
<h4 class="display-5">Anexos</h4>
<%end%>

<div class="float-right" style="display: inline-block !important">
<form role="search">
  <div class="input-group" style="margin: 0">
    <input id="attachment-form" class="form-control mr-sm-2" type="search" aria-label="Search">
    <label>
      <i class="fa fa-search"></i>
      &nbsp;Anexo
    </label>
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
  </div>
</form>
</div>
<hr class="under-header" style="margin-top: <%= params[:filterrific] ? '8em' : '5em'%>"/>

<% if @attachments.length > 0 %>
<%= render './pagination', value: @attachments %>
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nome do arquivo</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
        <td><%= attachment.filename.capitalize %></td>
        <td><%= link_to "Download", download_attachments_path(attachment.id), class: 'btn btn-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render './pagination', value: @attachments %>
<% end %>
<hr/>

<script>
$('document').ready(function () {

  $('#attachment-form').on('focusout', function () {
    changeState($(this));
  });

  function changeState(form) {
    if (form.val().length > 0) {
      form.addClass('has-value');
    } else {
      form.removeClass('has-value');
    }
  }
});
</script>
