<%= content_for :body_title do%>
<h4 class="display-5">Atendimentos</h4>
<%end%>

<div class="float-right" style="display: inline-block !important">
<form role="search">
  <div class="input-group" style="margin: 0">
    <input id="call-form" class="form-control mr-sm-2" type="search" aria-label="Search">
    <label>
      <i class="fa fa-search"></i>
      &nbsp;Atendimento
    </label>
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
  </div>
</form>
</div>
<div class="float-left create-new">
<%= link_to 'Solicitar novo atendimento', new_call_path(sei: current_user.sei), class: 'btn btn-primary' %>
</div>
<hr class="under-header"/>

<% if @calls.length > 0 %>
<%= render './pagination', value: @calls %>
<div id="accordion">
  <% @calls.each do |call| %>
    <div class="card<%= call.support_user == current_user.id ? ' card-mine' : '' %>">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#<%= call.protocol %>" aria-expanded="true" aria-controls="<%= call.protocol %>">
        <div class="card-header" id="heading<%= call.protocol %>">
          <div class="question">
            <h5><%= call.title %></h5>
          </div>
          <div class="protocol">
            <span>Protocolo: <%= call.protocol %></span>
          </div>

          <div class="company">
            Empresa <%= call.sei %>
          </div>
          <div class="city">
            <%= call.unity.name%><hr/><%= call.city.name %> - <%= call.city.state.name %>
          </div>
          <div class="info">
            <span class="badge badge-pill badge-<%= call.open? ? 'success' : call.closed? ? 'dark' : 'warning'%>"><%= (t "activerecord.enums.call.status.#{call.status}").upcase %></span>
          </div>
        </div>
      </button>

      <div id="<%= call.protocol %>" class="collapse" aria-labelledby="header<%= call.protocol %>" data-parent="#accordion">
        <div class="card-body">
          <hr/>
          <%= call.description.html_safe %>

          <%= link_to 'Ir para atendimento', call , class: 'btn btn-primary right'%>
        </div>
      </div>
    </div>
  <% end %>
</div>
  <%= render './pagination', value: @calls %>
<% else %>
  <h3>
    Nenhum atendimento foi realizado ainda
  </h3>
<% end %>
<hr/>

<script>
  $('document').ready(function () {

    $('#call-form').on('focusout', function () {
      changeState($(this));
    });

    function changeState(form) {
      if (form.val().length > 0) {
        form.addClass('has-value');
      } else {
        form.removeClass('has-value');
      }
    }
  });
</script>
