<div class="card card-severity-<%= answer.category.severity %>">
  <div class="card-header" id="heading<%= answer.id %>">
    <div class="question">
      <h5><%= answer.question %></h5>
    </div>
    <div class="tags">
      <% answer.keywords.split(';').each do |_keyword| %>
        <span class="tag label label-info"><%= _keyword %></span>
      <% end %>
    </div>
    <div class="info">
      <span class="badge badge-pill badge-<%= answer.category.low? ? 'success' : answer.category.high? ? 'danger' : 'warning'%>"><%= answer.category.name %></span>
    </div>
    <div class="dropdown">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#<%= answer.id %>" aria-expanded="true" aria-controls="<%= answer.id %>">
        <i class="fa fa-angle-down"></i>
      </button>
    </div>

  </div>

  <div id="<%= answer.id %>" class="collapse" aria-labelledby="header<%= answer.id %>" data-parent="#accordion">
    <div class="card-body">
      <hr/>
      <%= answer.answer.html_safe %>

      <div class="right">
        <% if admin? || faq_inserter? || (support_user? && answer.user_id == current_user.id )%>
          <%= link_to 'Editar resposta', edit_answer_path(answer) , class: 'btn btn-primary'%>
        <% end %>
        <%= link_to 'Ir para resposta', answer , class: 'btn btn-primary'%>
      </div>
    </div>
  </div>
</div>
