<%= form_with(model: answer, local: true) do |form| %>
<% if answer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(answer.errors.count, "error") %>
      prohibited this answer from being saved:</h2>

    <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :question, 'Questão', class: 'required' %>
  <% if @question %>
    <%= form.text_field :question, value: @question.title, required: true %>
  <% else %>
    <%= form.text_field :question, required: true %>
  <% end %>
</div>

<div class="field">
  <%= form.label :answer, 'Resposta', class: 'required' %>
  <% if @reply %>
    <%= form.text_field :answer, value: strip_tags(@reply.description.gsub("&nbsp;", "")), required:true %>
  <% else %>
    <%= form.text_field :answer, required: true %>
  <% end %>
</div>

<div class="form-group">
  <%= form.label :file %>
  <%= form.file_field :file, class: 'form-control-file', multiple: true, onchange: 'validateFiles(this)', data: {max_file_size: 2.megabytes}%>
</div>

<% text = 'display: none' %>
  <% if @question %>
    <div class="field" style="display: none">
      <%= form.label :category_id, 'Categoria', class: 'required' %>
      <%= form.text_field :category_id, value: @question.category.id, required: true %>
    </div>
    <%= hidden_field_tag :question_id, @question.id %>
  <% else %>
    <div class="field">
      <%= form.label :category_id, 'Categoria', class: 'required' %>
      <%= form.text_field :category_id, required: true %>
    </div>
  <% end %>

  <div class="field" style="display: none">
    <%= form.label :user_id, 'Usuário', class: 'required' %>
    <%= form.text_field :user_id, value: current_user.id, required: true %>
  </div>

  <% unless @reply && @reply.faq == true %>
    <div class="form-check form-check-inline">
      <%= form.check_box :faq, class: "form-check-input" %>
      <%= form.label :faq, value: 'Add to FAQ?', class: 'form-check-label' %>
    </div>
    <br/><br/>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  function validateFiles(inputFile) {

    var size = 0;
    var maxFileSize = $(inputFile).data('max-file-size');

    $.each(inputFile.files, function () {
      if (this.size) {
        size += this.size;
      }
    });

    console.log(size)
    if (size && maxFileSize && size > parseInt(maxFileSize)) {
      const animation = {
        "in": "bounceIn",
        "out": "fadeOutUpBig"
      };
      const heart = "/assets/icons/heart-7b7db7682d22d7e720bd648d44141160ecebc8dace0e3d9f2effd12a41c7f6a9.png";
      Notification.create("<%= 'Warning' %>", '<%= "This file exceeds the maximum allowed file size (2 MB)" %>', heart, animation, 2, 5);
      $(inputFile).val('');
    };
  }
</script>
