<%= content_for :body_title do%>
<div class="left">
  <h4 class="display-5">FAQ</h4>
</div>
<div class="right create-new">
  <%= link_to 'Cadastrar nova questão', new_answer_path(source: 'call'), class: 'btn btn-primary btn-lg' %>
</div>
<%end%>
</hr>

<%= form_for_filterrific @filterrific do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="form-group col-md-6">
          <%= f.label :filterrific_with_category, 'Filtro de Categorias'%>
          <select name="filterrific[with_category]" id="filterrific_with_category" class="form-control">
            <option value>Todas categorias</option>
            <%= inside_layout "categories/category_select",
                              {categ: Category.where(source: :from_call),
                               selected: params[:filterrific] &&
                                         params[:filterrific][:with_category].to_i != 0 &&
                                         Category.find(params[:filterrific][:with_category].to_i)} do %>
              <%= yield %>
            <% end %>
          </select>
        </div>
      </div>
      <div class="row">
        <%= link_to 'Desfazer filtros',
                    reset_filterrific_url,
                    class: 'btn btn-danger offset-md-1 col-md-4' if params[:filterrific] %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row mt-3">
        <div class="col-md-8">
          <input name="filterrific[search_query]" id="filterrific_search_query"
                 class="form-control" type="search" aria-label="Search">
          <label>
            <i class="fa fa-search"></i>
            &nbsp;Pesquisar no FAQ
          </label>
        </div>
        <div class="col-md-4">
           <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
         </div>
       </div>
       <div class="row">
         <%= f.submit "Mostrar",
                      id: 'mostrar-filter',
                      class: 'btn btn-link invisible right' %>
       </div>
    </div>
  </div>
<% end %>
<hr/>

<div id="filterrific_results">
  <% if @answers.length > 0 %>
  <div class="accordion-faq" id="accordion">
    <%= render './pagination', value: @answers, position: :top %>
    <%= render @answers %>
    <%= render './pagination', value: @answers, position: :bottom %>
  </div>
  <% else %>
  <h3>
    Não há perguntas no FAQ
  </h3>
  <% end %>
</div>
<hr/>

<script>
$('document').ready(function () {

  $('#filterrific_with_category').on('change', () => {
    $('#mostrar-filter').click();
  })

  $('#filterrific_search_query').on('focusout', function () {
    changeState($(this));
  });

  function changeState(form) {
    if (form.val().length > 0) {
      form.addClass('has-value');
    } else {
      form.removeClass('has-value');
    }
  }

});
</script>
