<%= content_for :body_title do%>
<h4 class="display-5">FAQ</h4>

<%= form_for_filterrific @filterrific do |f| %>
  <div style="width:100%; margin:0 auto; float:right; ">
    <div class="form-group" style="width:10%; float:right;">
      <%= f.select(:with_category, @filterrific.select_options[:with_category], {multiple: true, include_blank: "Categoria"}, {:class => "form-control", :style => "width:100%;"}) %>
    </div>
  </div>
  <div>
    <div class="form-group">
      <%= f.submit "Mostrar", :class => 'btn btn-link', :style => 'color: blue !important; float:right' %>
      <%= link_to(
        'Desfazer filtro',
        reset_filterrific_url, :class => 'btn btn-link', :style => 'color: #AAA !important; float:right;'
      ) %>
    </div>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%end%>

<div class="float-right" style="display: inline-block !important">
<form role="search">
  <div class="input-group" style="margin: 0">
    <input id="answer-form" class="form-control mr-sm-2" type="search" aria-label="Search">
    <label>
      <i class="fa fa-search"></i>
      &nbsp;FAQ
    </label>
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
  </div>
</form>
</div>
<div class="float-left create-new">
<%= link_to 'Cadastrar nova questão', new_answer_path, class: 'btn btn-primary' %>
</div>
<hr class="under-header"/>

<div id="filterrific_results">

  <% if @answers.length > 0 %>
  <%= render './pagination', value: @answers, model:'faq' %>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Questão</th>
        <th>Resposta</th>
        <th>Categoria</th>
        <th colspan="3">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @answers.each do |answer| %>
        <tr>
          <td><%= truncate strip_tags(answer.question), length: 40 %></td>
          <td><%= truncate strip_tags(answer.answer), length: 40 %></td>
          <td><%= answer.category.name %></td>
          <td>
            <%= link_to 'Mostrar', answer , class: 'btn btn-primary btn-sm'%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render './pagination', value: @answers%>
  <% end %>

</div>

<hr/>

<script>
$('document').ready(function () {

  $('#answer-form').on('focusout', function () {
    changeState($(this));
  });

  function changeState(form) {
    if (form.val().length > 0) {
      form.addClass('has-value');
    } else {
      form.removeClass('has-value');
    }
  }
});
</script>
