<%= content_for :body_title do%>
<div class="left">
  <h4 class="display-5">Respostas finais</h4>
</div>
<div class="right create-new">
  <%= link_to 'Cadastrar nova Resposta', new_answer_path, class: 'btn btn-primary btn-lg' %>
</div>
<%end%>

<div class="right" style="display: inline-block !important">
<form role="search">
  <div class="right input-group" style="margin: 15px auto !important">
    <input name="filterrific[search_query_faq]" id="filterrific_search_query_faq" class="form-control mr-sm-2" type="search" aria-label="Search">
    <label>
      <i class="fa fa-search"></i>
      &nbsp;Pesquisar resposta final
    </label>
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
  </div>
  <br>
  <p style="width: 100%; text-align: right;">
    <%= (link_to 'Desfazer pesquisa',
                 reset_filterrific_url,
                 class: 'btn btn-danger',
                 style: 'margin-top: 0.375em; border: 1px solid red;') if params[:filterrific] %>
  </p>
</form>
</div>
<hr class="under-header" style="margin-top: <%= params[:filterrific] ? '8em' : '5em'%>"/>

<div id="filterrific_results">

  <% if @answers.length > 0 %>
  <%= render './pagination', value: @answers %>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Questão</th>
        <th>Resposta</th>
        <th>Categoria</th>
        <th>No FAQ?</th>
        <th colspan="3">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @answers.each do |answer| %>
        <tr>
          <td><%= truncate strip_tags(answer.question), length: 40 %></td>
          <td><%= truncate strip_tags(answer.answer), length: 40 %></td>
          <td><%= answer.category.name %></td>
          <td><%= answer.faq ? 'Sim' : 'Não' %></td>
          <td>
            <%= link_to 'Mostrar', answer , class: 'btn btn-primary btn-sm'%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= render './pagination', value: @answers %>
  <% end %>
</div>
<hr/>

<script>
$('document').ready(function () {

  $('#filterrific_search_query_faq').on('focusout', function () {
    changeState($(this));
  });

  function changeState(form) {
    if (form.val().length > 0) {
      form.addClass('has-value');
    } else {
      form.removeClass('has-value');
    }
  }
});
</script>
