<p id="notice"><%= notice %></p>
<%= content_for :body_title do%> Companies <%end%>
<form class="form-inline">
<%= link_to 'New Company', new_company_path, class: 'btn btn-success' %>
<input class="form-control mr-sm-2 ml-3" type="search" placeholder="SEI number" aria-label="Search">
<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
</form>
<hr/>
<%= render './pagination', value: @companies %>
<% if @companies.length > 0 %>
<hr/>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sei</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.sei %></td>
        <td><%= link_to 'Show', company , class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Edit', edit_company_path(company) , class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<%= render './pagination', value: @companies %>
<% end %>
<hr/>
