<div style="text-align: center;background-color: #FFFFFF; width: 80%; box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.2); padding:1rem 1rem; margin: 2.5rem auto">
  <div style="width: 100%; height: 4rem; background-color: #444444; vertical-align: middle; border-top:1rem; margin-bottom: 1rem">
    <h1 style="font-size: 3rem;color: #ffffff;">PIUBS</h1>
  </div>

  <p>
    <span style="font-size: 2rem">Olá,
      <b style="color: #007bff"><%= @user.name %>!</b>
    </span>
    <br/>
    Uma das controvérsias que você participa teve um parecer final!
    <br/>
  </p>

  <p>
    <b>Protocolo:</b>
    <%= @controversy.protocol %>
  </p>

  <p>
    <b>Título da Controvérsia:</b>
    <%= @controversy.title %>
  </p>

  <blockquote style="box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.10); margin: 1em 10px; padding: 0.5em 10px;">
    <p>
      <b>Parecel final:</b>
      <br>
      <%= @feedback.description.html_safe %>
    </p>
  </blockquote>

  <p>
    <a href="<%= @link %>">Clique aqui para acessar o PIUBS - Solução de Controvérsias e ver o atendimento completo</a>
  </p>
</div>
