<div class="auth">
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          <%= image_tag("icons/logo.png", :alt => "Apoio à empresa") %>
          PIUBS
        </h1>
      </header>
      <div class="auth-content">
        <p class="text-center">ALTERE SUA SENHA</p>
        <p class="text-muted text-center">
          <small>Insira seu endereço de email para recuperar a sua senha.</small>
        </p>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "New password" %><br/>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>
              characters minimum)</em><br/>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control underlined' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control underlined' %>
        </div>

        <div class="form-group">
          <%= f.submit "Change my password", class: 'btn btn-block btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= link_to(root_path, class: 'btn btn-secondary btn-sm') do%>
    <i class="fa fa-arrow-left"></i>
    Back to dashboard
  </a>
<%end%>
</div>
</div>
</div>