<div class="auth">
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          <%= image_tag("icons/logo.png", :alt => "Apoio à empresa") %>
          PIUBS
        </h1>
      </header>
      <div class="auth-content">
        <p class="text-center">RECUPERAÇÃO DE SENHA</p>
        <p class="text-muted text-center">
          <small>Insira seu endereço de e-mail para realizar a recuperação de senha.</small>
        </p>
        <div class="required_info"></div><br />
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :email, 'E-mail', class: 'required' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control underlined', placeholder: 'Seu endereço de e-mail', required: true %>
        </div>
        <div class="form-group">
          <%= f.submit "Envie-me instruções de recuperação de senha", class: 'btn btn-block btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= link_to(login_path, class: 'btn btn-secondary btn-sm') do%>
      <i class="fa fa-arrow-left"></i>
      Voltar
    <%end%>
</div>
</div>
</div>
