<div class="required_info"></div><br />
<%= form_with(model: city, local: true) do |form| %>
<% if city.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(city.errors.count, "error") %>
      prohibited this city from being saved:</h2>
    <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :name, 'Nome', class: 'required' %>
  <%= form.text_field :name, class: 'form-control', required: true %>
</div>

<% if @state %>
  <div class="form-group" style="display: none">
    <%= form.label :state_id, 'Estado', class: 'required' %>
    <%= form.text_field :state_id , name: 'city[state_id]', id:'city_state_id', class: 'form-control', value: @state.id, required: true %>
  </div>
<% else %>
  <div class="form-group">
    <label for="city_state_id" class="required">Estado</label>
    <select skip_default_ids="false" allow_method_names_outside_object="true" name="city[state_id]" id="city_state_id" class="form-control" required="required">
      <option value="0">
        Selecione um Estado
      </option>
      <% State.all.each do |_state| %>
        <% if @city.state_id == _state.id %>
          <option selected="selected" value="<%= _state.id %>">
          <% else %>
            <option value="<%= _state.id %>">
            <% end %>

            <%= _state.name %>
          </option>
        <% end %>
      </select>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Save', :class => 'btn btn-primary btn-sm' %>
    <%= link_to 'Cancel', @city, :class => 'btn btn-danger btn-sm' %>
  </div>
<% end %>
