<p id="notice"><%= notice %></p>
<%= content_for :body_title do%> <%= @city.name %> <small> - <%= @city.state.name %></small><%end%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cnes</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  <% @ubs.each do |unity| %>
    <tr>
      <% dadosUnity = Unity.find(unity) %>
      <td><%= dadosUnity.cnes %></td>
      <td><%= dadosUnity.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- <%= link_to 'Edit', edit_city_path(@city) %>
<%= link_to 'Back', cities_path %> -->
