<div class="required_info"></div><br />
<div class="form">
<%= form_with(model: category, local: true) do |form| %>
<% if category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(category.errors.count, "error") %>
      prohibited this category from being saved:</h2>

    <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :name, 'Nome', class: 'required' %>
  <%= form.text_field :name, required: true, class: 'form-control boxed' %>
</div>

<div class="field">
  <%= form.label :severity, 'Categoria', class: 'required' %>
  <%= form.select :severity, Category.severities.keys.to_a.map { |key, value| [(t "activerecord.enums.category.severity.#{key}"), key] }, {include_blank: 'Selecione uma severidade'}, {class: 'form-control boxed'} %>
</div>

<div class="field">
  <%= form.label :source, 'Origem', class: 'required' %>
  <%= form.select :source, [['Apoio', :from_call], ['Controversia', :from_controversy]], {include_blank: 'Selecione uma origem'}, {class: 'form-control boxed'} %>
</div>

<div class="field">
  <%= form.label :parent_id, 'Categoria-pai' %>
  <select class="form-control boxed" name="category[parent_id]" id="category_parent_id">
    <option value>Sem categoria-pai</option>
  </select>
</div>


  <%= form.submit "Criar categoria", class: 'btn btn-primary' %>
  <%= link_to 'Cancelar', categories_path, :class => 'btn btn-danger' %>

</div>
<% end %>

<script>
  const category_source_select = $('#category_source');

  $('#category_source').change(() => {
    jQuery.ajax({url: `/categories/category_select/${category_source_select.val()}`,
                        type: "GET",
                        success: response => $('#category_parent_id').html(response),
                        error: console.error})
  })
</script>
