<h2>Convidar novo usuário</h2>

<div class="required_info"></div><br />

<div class="authform" style="float:left; width:50%;">
  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <% resource.class.invite_key_fields.each do |field| -%>
      <p><%= f.label field, "E-mail", class: 'required' %>
        <%= f.text_field field, :autofocus => true, class: 'form-control' %></p>
    <% end -%>
  </div>
  <div class="form-group">
    <% unless current_user.admin? %>
      <%= f.hidden_field :role, value: @roles_allowed[0] %>
    <% else %>
      <% if @role %>
        <%= f.hidden_field :role, value: @role %>
      <% else %>
        <%= f.label "Escolha o tipo de usuário", class: 'required' %>
        <%= f.select(:role, @roles_allowed, {:include_blank => "Selecione", :selected => nil, required: true}, {:class => "form-control"})%>
      <% end %>
    <% end %>
  </div>

  <%# ADMIN %>
  <% if current_user.admin? %>
    <% if @sei %>
      <%= f.hidden_field :sei, value: @sei %>
    <% elsif @city_id %>
      <%= f.hidden_field :city_id, value: @city_id %>

      <%if @unity_id %>
        <%= f.hidden_field :unity_id, value: @unity_id %>
      <% end %>
    <% elsif @role == 'company_admin' || @role == 'company_user' %>
      <div class="form-group" id='sei_group'>
        <%= f.label "Escolha a empresa (sei)" %>
        <%= f.select(:sei, Company.all.map { |company| company.sei }, {:include_blank => "Selecione", :selected => nil}, {:class => "form-control"})%>
      </div>
    <% else %>
      <div class="form-group" id='sei_group' style="display: none">
        <%= f.label "Escolha a empresa (sei)" %>
        <%= f.select(:sei, Company.all.map { |company| company.sei }, {:include_blank => "Selecione", :selected => nil}, {:class => "form-control"})%>
      </div>

      <div id="city_state_group" style="display: none">
        <div class="form-group">
          <%= f.label :state_id, 'Estado', class: 'required' %>
          <select skip_default_ids="false" allow_method_names_outside_object="true" name="user[state_id]" id="user_state_id" class="form-control" required="required">
            <option value="0">
              Selecione um Estado
            </option>
            <% State.all.each do |_state| %>
              <option value="<%= _state.id %>">
                <%= _state.name %>
              </option>
            <% end %>
          </select>
        </div>

        <div class="form-group">
          <%= f.label :city_id, 'Cidade', class: 'required' %>
          <select skip_default_ids="false" allow_method_names_outside_object="true" name="user[city_id]" id="user_city_id" class="form-control" required="required">
            <option value="0">
              Selecione um Estado primeiro
            </option>
          </select>
        </div>

        <div id="unity_group" class="form-group" style="display: none">
          <%= f.label :unity_id, 'UBS', class: 'required' %>
          <select skip_default_ids="false" allow_method_names_outside_object="true" name="user[cnes]" id="user_cnes" class="form-control" required="required">
            <option value="0">
              Selecione uma Cidade primeiro
            </option>
          </select>
        </div>

        <script>

          const stateSelect = document.getElementById('user_state_id');
          const citySelect = document.getElementById('user_city_id');
          const unitySelect = document.getElementById('user_cnes');
          const unityRequest = () => jQuery.ajax({
            url: '/cities/unities/' + citySelect.value,
            type: "GET",
            dataType: "json",
            success: insertUnityData
          })


          stateSelect.addEventListener('change', () => jQuery.ajax({
            url: `/states/${stateSelect.value}/cities`,
            type: "GET",
            dataType: "json",
            success: insertCityData
          }));

          function insertCityData(cities) {
            let innerHTML = '';
            for (let city of cities) {
              innerHTML += '<option value=' + city.id + '>' + city.name + '</option>'
            }
            citySelect.innerHTML = innerHTML || '<option value="0"> Selecione um Estado primeiro </option>';
            unityRequest();
          }



          citySelect.addEventListener('change', unityRequest);

          function insertUnityData(unities) {
            let innerHTML = '';
            for (let unity of unities) {
              innerHTML += '<option value=' + unity.cnes + '>' + unity.name + '</option>'
            }
            unitySelect.innerHTML = innerHTML || '<option value="0"> Selecione uma Cidade primeiro </option>';
          }
        </script>
      </div>
    <% end %>

    <script>
      $('#user_role').change(e => {
        if (e.target.value == 'city_admin') {
          $('#unity_group').hide(0);
          $('#sei_group').hide(0);
          $('#city_state_group').show(0);
        } else if (e.target.value == 'company_admin') {
          $('#unity_group').hide(0);
          $('#sei_group').show(0);
          $('#city_state_group').hide(0);
        } else if (e.target.value == 'ubs_admin'){
          $('#unity_group').show(0);
          $('#sei_group').hide(0);
          $('#city_state_group').show(0);
        } else{
          $('#unity_group').hide(0);
          $('#sei_group').hide(0);
          $('#city_state_group').hide(0);
        }
      });
    </script>

  <% end %>
  <% if current_user.city_admin? %>
    <div class="form-group">
      <%= f.label "Escolha a UBS" %>
      <%= f.select(:cnes, City.find(current_user.city_id).unities.map { |unity| [unity.name, unity.cnes]}, {:include_blank => "Selecione", :selected => nil}, {:class => "form-control"})%>
      <%= f.hidden_field :city_id, value: current_user.city_id %>
    </div>
  <% end %>

  <% if current_user.company_admin? %>
    <%= f.hidden_field :sei, value: current_user.sei %>
  <% end %>

  <% if current_user.ubs_admin? %>
    <%= f.hidden_field :city_id, value: current_user.city_id %>
    <%= f.hidden_field :cnes, value: current_user.cnes %>
  <% end %>

  <% unless ubs_user? || city_user? %>
    <% if %w[city_admin ubs_admin ubs_user].include? params[:role] %>
        <%= f.hidden_field :system, value: :controversies %>
    <% else %>
      <div class="form-group">
        <%= f.label "Acesso aos sistemas", class: "required" %>
        <%= f.radio_button :system, :companies, :checked => true %> Apoio à Empresas <br>
        <%= f.radio_button :system, :controversies %> Solução de Controvérsias <Br>
        <%= f.radio_button :system, :both %> Ambos
      </div>
    <% end %>
  <% end %>

  <p><%= f.submit "Enviar convite", :class => 'btn btn-primary' %></p>
<% end %>
</div>
