<h1>PIUBS</h1>

<p>
  Olá,
  <b><%= @current_user.name %></b>, você abriu um novo atendimento.
</p>

<p>
  Protocolo:
  <b><%= @call.protocol %></b>
</p>

<p>
  Título do Atendimento:
  <b><%= @call.title %></b>
</p>

<p>
  <%= @call.created_at.strftime("%d %b %y - %H:%M:%S") %>
</p>

<p>
  <a href="<%= @link %>">Clique aqui para acessar o PIUBS e visualizar o atendimento completo</a>
</p>
