<div class="main-wrapper">
  <div class="app" id="app">
    <header class="header">
      <div class="header-block header-block-collapse d-lg-none d-xl-none">
        <button class="collapse-btn" id="sidebar-collapse-btn">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="header-block header-block-search">
        <form role="search">
          <div class="input-group">
            <input type="search" id="search-form" class="form-control search"/>
            <label>
              <i class="fa fa-search"></i>
              &nbsp;Pesquisar
            </label>
            <button id='search-button' style="display: none" class="btn btn-primary btn-sm">
              Vamos lá
            </button>
          </div>
          <div class="underline"></div>
        </form>
      </div>

      <div class="header-block header-block-nav">
        <ul class="nav-profile">
          <li class="notifications new">
            <a href="#" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <sup>
                <span class="counter">2</span>
              </sup>
            </a>
            <div class="dropdown-menu notifications-dropdown-menu">
              <ul class="notifications-container">
                <li>
                  <a href="#" class="notification-item">
                    <div class="img-col">
                      <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/34578?v=3&s=40')"></div>
                    </div>
                    <div class="body-col">
                      <p>
                        <span class="accent">Your boss</span>
                        wants to talk to you:
                        <span class="accent">31/08 - 13:45h</span>.
                      </p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" class="notification-item">
                    <div class="img-col">
                      <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/567524?v=3&s=40')"></div>
                    </div>
                    <div class="body-col">
                      <p>
                        <span class="accent">Zack Alien</span>
                        sent you a reply:
                        <span class="accent">That is the problem I've been talking about</span>.
                      </p>
                    </div>
                  </a>
                </li>
              </ul>
              <footer>
                <ul>
                  <li>
                    <a href="#">
                      View All
                    </a>
                  </li>
                </ul>
              </footer>
            </div>
          </li>
          <li class="profile dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')"></div>
              <span class="name">
                <%= current_user.name %></span>
            </a>
            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
              <%= link_to(edit_user_registration_path, class: 'dropdown-item') do %>
              <i class="fa fa-user icon"></i>
              Profile
            <%end%>
            <a class="dropdown-item" href="#">
              <i class="fa fa-bell icon"></i>
              Notifications
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-gear icon"></i>
              Settings
            </a>
            <div class="dropdown-divider"></div>
            <%= link_to destroy_user_session_path, :method=>'delete' , class: 'dropdown-item' do %>
            <i class="fa fa-power-off icon"></i>
            Logout
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</header>

<aside class="sidebar">
  <%= render 'layouts/navigation' %>
</aside>

<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>

<article class="content responsive-tables-page">
  <div class="title-block">
    <h1 class="title">
      <%= content_for :body_title %>
    </h1>
    <p class="title-description">
      <%= content_for :body_description %>
    </p>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/content' %>
      </div>
    </div>

  </section>

</article>
<footer class="footer">
  <div class="footer-block buttons">
    <ul style="text-decoration: none; list-style: none">
      <li>
        <a href="http://portalms.saude.gov.br/">
          Ministério da Saúde
        </a>
      </li>
      <li>
        <a href="http://cnes.datasus.gov.br/">
          CNES
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-block author">
    <ul>
      <li>
        created by
        <a href="#">PIUBS Team</a>
      </li>
      <li>
        <a href="#">get in touch</a>
      </li>
    </ul>
  </div>
</footer>
</div>
</div>

<script>
$('document').ready(function () {

$('#search-form').on('focusout', function () {
  changeState($(this));
});

$('#search-form').on('input', function (e) {
  changeState($(this));
});

function changeState($formControl) {
  if ($formControl.val().length > 0) {
    $formControl.addClass('has-value');
    $('#search-button').show(100);
  } else {
    $formControl.removeClass('has-value');
    $('#search-button').hide(100);
  }
}
});

dataConfirmModal.setDefaults({title: 'Confirme sua ação', commit: 'Sim, proceda', cancel: 'Cancelar'});
</script>
