<div class="main-wrapper">
  <div class="app" id="app">
    <header class="header">
      <div class="header-block header-block-collapse d-lg-none d-xl-none">
        <button class="collapse-btn" id="sidebar-collapse-btn">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="header-block header-block-search">
        <form role="search">
          <div class="input-group">
            <input type="search" id="search-form" class="form-control search"/>
            <label>
              <i class="fa fa-search"></i>
              &nbsp;Pesquisar
            </label>
            <button id='search-button' style="display: none" class="btn btn-primary btn-sm">
              Vamos lá
            </button>
          </div>
          <div class="underline"></div>
        </form>
      </div>

      <div class="header-block header-block-nav">
        <ul class="nav-profile">
          <li class="profile dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag("icons/user.png", :height => 24, :class => 'mr-2')%>
              <span class="name">
                <%= current_user.name %></span>
            </a>
            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
              <%= link_to(edit_user_registration_path, class: 'dropdown-item') do %>
              <i class="fa fa-user icon"></i>
              Meu perfil
            <%end%>
            <a class="dropdown-item" href="#">
              <i class="fa fa-bell icon"></i>
              Notificações
            </a>
            <div class="dropdown-divider"></div>
            <%= link_to destroy_user_session_path, :method=>'delete' , class: 'dropdown-item' do %>
            <i class="fa fa-power-off icon"></i>
            Sair
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</header>

<aside class="sidebar">
  <%= render 'layouts/navigation' %>
</aside>

<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>

<article class="content responsive-tables-page">
  <div class="title-block">
    <h1 class="title">
      <%= content_for :body_title %>
    </h1>
    <p class="title-description">
      <%= content_for :body_description %>
    </p>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/content' %>
      </div>
    </div>

  </section>

</article>
<footer class="footer">
  <div class="footer-block buttons">
    <ul style="text-decoration: none; list-style: none">
      <li>
        <a href="http://portalms.saude.gov.br/">
          Ministério da Saúde
        </a>
      </li>
      <li>
        <a href="http://cnes.datasus.gov.br/">
          CNES
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-block author">
    <ul>
      <li>
        created by
        <a href="#">PIUBS Team</a>
      </li>
      <li>
        <a href="#">get in touch</a>
      </li>
    </ul>
  </div>
</footer>
</div>
</div>
<%= content_for :java do %>
  <script>
    $('document').ready(function () {

    $('#search-form').on('focusout', function () {
      changeState($(this));
    });

    $('#search-form').on('input', function (e) {
      changeState($(this));
    });

    function changeState($formControl) {
      if ($formControl.val().length > 0) {
        $formControl.addClass('has-value');
        $('#search-button').show(100);
      } else {
        $formControl.removeClass('has-value');
        $('#search-button').hide(100);
      }
    }
    });

    dataConfirmModal.setDefaults({title: 'Confirme sua ação', commit: 'Sim, proceda', cancel: 'Cancelar'});
  </script>
<%end%>

<%= any_login_here if defined?(AnyLogin) %>
