<% if current_user.try(:admin?) %>
<%= link_to 'Estados', states_path, class: 'nav-item nav-link' %>
<%= link_to 'Cidades', cities_path, class: 'nav-item nav-link' %>
<%= link_to 'UBS', unities_path, class: 'nav-item nav-link' %>
<%= link_to 'Contratos', contracts_path, class: 'nav-item nav-link' %>
<%= link_to 'Empresas', companies_path, class: 'nav-item nav-link' %>
<% end %>
<hr/>
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
<span>Saved reports</span>
</h6>
