<hr/>
<!-- Admin Sidebar-->
<% if current_user.try(:admin?) %>
  <li><%= link_to(calls_path, class: 'nav-item nav-link') do %> <i class="fa fa-bar-chart-o"></i> Estatísticas <%end%></li>
  <li <%= "class=active" if current_page?(calls_path)%> > <%= link_to(calls_path, class: 'nav-item nav-link') do %> <i class="fa fa-headphones"></i> Atendimentos <%end%></li>
  <li <%= "class=active" if current_page?(faq_path) %> > <%= link_to(faq_path, class: 'nav-item nav-link') do %> <i class="fa fa-question-circle"></i> FAQ<%end%></li>
  <li <%= "class=active" if current_page?(states_path) %> > <%= link_to(states_path, class: 'nav-item nav-link') do %> <i class="fa fa-globe"></i> Estados<%end%></li>
  <li <%= "class=active" if current_page?(cities_path) %> > <%= link_to(cities_path, class: 'nav-item nav-link') do %> <i class="fa fa-map-marker"></i> Cidades<%end%></li>
  <li <%= "class=active" if current_page?(unities_path) %> > <%= link_to(unities_path, class: 'nav-item nav-link') do %> <i class="fa fa-medkit"></i> UBS <%end%></li>
  <li <%= "class=active" if current_page?(companies_path) %> > <%= link_to(companies_path, class: 'nav-item nav-link') do %> <i class="fa fa-building-o"></i> Empresas <%end%></li>
  <li <%= "class=active" if current_page?(contracts_path) %> > <%= link_to(contracts_path, class: 'nav-item nav-link') do %> <i class="fa fa-clipboard"></i> Contratos<%end%></li>
  <li <%= "class=active" if current_page?(replies_path) || current_page?(answers_path) || current_page?(attachments_path) || current_page?(categories_path) %> > <%= link_to('', class: 'nav-item nav-link') do %> <i class="fa fa-dashboard"></i> Misc <i class="fa arrow"></i><%end%>
    <ul class="sidebar-nav collapse">
      <li> <%= link_to(replies_path, class: 'nav-item nav-link') do %> <i class="fa fa-pencil"></i> Respostas <%end%></li>
      <li> <%= link_to(answers_path, class: 'nav-item nav-link') do %> <i class="fa fa-th-list"></i> Respostas Finais <%end%></li>
      <li> <%= link_to(attachments_path, class: 'nav-item nav-link') do %> <i class="fa fa-files-o"></i> Anexos <%end%></li>
      <li> <%= link_to(categories_path, class: 'nav-item nav-link') do %> <i class="fa fa-link"></i> Categorias <%end%></li>
    </ul>
  </li>
  <li <%= "class=active" if current_page?(users_path) || current_page?(new_user_invitation_path) %> > <%= link_to('', class: 'nav-item nav-link') do %> <i class="fa fa-group"></i> Colaboradores <i class="fa arrow"></i><%end%>
    <ul class="sidebar-nav collapse">
      <li>
        <%= link_to(users_path, class: 'nav-item nav-link') do %> Listar Usuários <% end %>
      </li>
      <li>
        <%= link_to(new_user_invitation_path, class: 'nav-item nav-link') do %> Adicionar Usuários <%end%>
      </li>
    </ul>
  </li>
<% end %>

<!-- City Admin Sidebar-->
<% if current_user.try(:city_admin?) %>
  <li <%= "class=active" if current_page?(unities_path) %> > <%= link_to(unities_path, class: 'nav-item nav-link') do %> <i class="fa fa-medkit"></i> UBS <%end%></li>
  <li <%= "class=active" if current_page?(contracts_path) %> > <%= link_to(contracts_path, class: 'nav-item nav-link') do %> <i class="fa fa-clipboard"></i> Contratos<%end%></li>
  <li <%= "class=active" if current_page?(users_path) || current_page?(new_user_invitation_path) %> > <%= link_to(users_path, class: 'nav-item nav-link') do %> <i class="fa fa-group"></i> Colaboradores <i class="fa arrow"></i><%end%>
    <ul class="sidebar-nav collapse">
      <li>
        <%= link_to(users_path, class: 'nav-item nav-link') do %> Listar Usuários <% end %>
      </li>
      <li>
        <%= link_to(new_user_invitation_path, class: 'nav-item nav-link') do %> Adicionar Usuários <%end%>
      </li>
    </ul>
  </li>
<% end %>

<!-- UBS Admin Sidebar-->
<% if current_user.try(:ubs_admin?) %>
  <li <%= "class=active" if current_page?(calls_path)%> > <%= link_to(calls_path, class: 'nav-item nav-link') do %> <i class="fa fa-headphones"></i> Atendimentos <%end%></li>
  <li <%= "class=active" if current_page?(faq_path) %> > <%= link_to(faq_path, class: 'nav-item nav-link') do %> <i class="fa fa-question-circle"></i> FAQ<%end%></li>
  <li <%= "class=active" if current_page?(users_path) || current_page?(new_user_invitation_path) %> > <%= link_to(users_path, class: 'nav-item nav-link') do %> <i class="fa fa-group"></i> Colaboradores <i class="fa arrow"></i><%end%>
    <ul class="sidebar-nav collapse">
      <li>
        <%= link_to(users_path, class: 'nav-item nav-link') do %> Listar Usuários <% end %>
      </li>
      <li>
        <%= link_to(new_user_invitation_path, class: 'nav-item nav-link') do %> Adicionar Usuários <%end%>
      </li>
    </ul>
  </li>
<% end %>

<!-- UBS User Sidebar-->
<% if current_user.try(:ubs_user?) %>
  <li <%= "class=active" if current_page?(calls_path)%> > <%= link_to(calls_path, class: 'nav-item nav-link') do %> <i class="fa fa-headphones"></i> Atendimentos <%end%></li>
  <li <%= "class=active" if current_page?(faq_path) %> > <%= link_to(faq_path, class: 'nav-item nav-link') do %> <i class="fa fa-question-circle"></i> FAQ<%end%></li>
<% end %>

<!-- Company Admin Sidebar-->
<% if current_user.try(:company_admin?) %>
  <li <%= "class=active" if current_page?(calls_path)%> > <%= link_to(calls_path, class: 'nav-item nav-link') do %> <i class="fa fa-headphones"></i> Atendimentos <%end%></li>
  <li <%= "class=active" if current_page?(faq_path) %> > <%= link_to(faq_path, class: 'nav-item nav-link') do %> <i class="fa fa-question-circle"></i> FAQ<%end%></li>
  <li <%= "class=active" if current_page?(companies_path) %> > <%= link_to(companies_path, class: 'nav-item nav-link') do %> <i class="fa fa-building-o"></i> Empresa <%end%></li>
  <li <%= "class=active" if current_page?(contracts_path) %> > <%= link_to(contracts_path, class: 'nav-item nav-link') do %> <i class="fa fa-clipboard"></i> Contratos<%end%></li>
  <li <%= "class=active" if current_page?(users_path) || current_page?(new_user_invitation_path) %> > <%= link_to(users_path, class: 'nav-item nav-link') do %> <i class="fa fa-group"></i> Colaboradores <i class="fa arrow"></i><%end%>
    <ul class="sidebar-nav collapse">
      <li>
        <%= link_to(users_path, class: 'nav-item nav-link') do %> Listar Usuários <% end %>
      </li>
      <li>
        <%= link_to(new_user_invitation_path, class: 'nav-item nav-link') do %> Adicionar Usuários <%end%>
      </li>
    </ul>
  </li>
<% end %>

<!-- Company User Sidebar-->
<% if current_user.try(:company_user?) %>
  <li <%= "class=active" if current_page?(calls_path)%> > <%= link_to(calls_path, class: 'nav-item nav-link') do %> <i class="fa fa-headphones"></i> Atendimentos <%end%></li>
  <li <%= "class=active" if current_page?(faq_path) %> > <%= link_to(faq_path, class: 'nav-item nav-link') do %> <i class="fa fa-question-circle"></i> FAQ<%end%></li>
<% end %>

<!-- Call Center Admin Sidebar-->
<% if current_user.try(:call_center_admin?) %>
  <li><%= link_to(calls_path, class: 'nav-item nav-link') do %> <i class="fa fa-bar-chart-o"></i> Estatísticas <%end%></li>
  <li <%= "class=active" if current_page?(calls_path)%> > <%= link_to(calls_path, class: 'nav-item nav-link') do %> <i class="fa fa-headphones"></i> Atendimentos <%end%></li>
  <li <%= "class=active" if current_page?(faq_path) %> > <%= link_to(faq_path, class: 'nav-item nav-link') do %> <i class="fa fa-question-circle"></i> FAQ<%end%></li>
  <li <%= "class=active" if current_page?(users_path) || current_page?(new_user_invitation_path) %> > <%= link_to(users_path, class: 'nav-item nav-link') do %> <i class="fa fa-group"></i> Colaboradores <i class="fa arrow"></i><%end%>
    <ul class="sidebar-nav collapse">
      <li>
        <%= link_to(users_path, class: 'nav-item nav-link') do %> Listar Usuários <% end %>
      </li>
      <li>
        <%= link_to(new_user_invitation_path, class: 'nav-item nav-link') do %> Adicionar Usuários <%end%>
      </li>
    </ul>
  </li>
<% end %>

<!-- Call Center User Sidebar-->
<% if current_user.try(:call_center_user?) %>
  <li><%= link_to(calls_path, class: 'nav-item nav-link') do %> <i class="fa fa-bar-chart-o"></i> Estatísticas <%end%></li>
  <li <%= "class=active" if current_page?(calls_path)%> > <%= link_to(calls_path, class: 'nav-item nav-link') do %> <i class="fa fa-headphones"></i> Atendimentos <%end%></li>
  <li <%= "class=active" if current_page?(faq_path) %> > <%= link_to(faq_path, class: 'nav-item nav-link') do %> <i class="fa fa-question-circle"></i> FAQ<%end%></li>
<% end %>

<!-- City user Sidebar-->
<% if current_user.try(:city_user?) %><% end %>
<!-- They have no acess at all to the Company support system -->
<hr/>
